body{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;

}
.navbar{
  background-color:rgba(170, 208, 217, 0.65);
}

#menu{
  color: #0090B2;
  height: 8.5vh;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 52px;
  display: flex;
  font-weight: normal;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #F7F7F7;
}

.all{
  margin-right: 7vw;
}

.cho{
  margin-right: 7vw;
}

.hi{
  color: #A85252;
  margin-right: 7vw;
}

.log{
  margin-right: 7vw;
}

a{
  color: #0090B2;
  margin-top: 1.4vh;
}
a:hover{
  color: #E5B9B6;
  border: 2px;
  border-radius: 6px;
  background-color: #F7F7F7;
}

a:active{
  color: #A85252;
}

.nav-button{
  margin-top: 1.4vh;
}
.btn:hover{
  color: #E5B9B6;
  border: 2px;
  border-radius: 6px;
  background-color: #F7F7F7;
}
.btn-store:hover{
  color: #E5B9B6;
  border:2px;
  border-color: #E5B9B6;
  border-radius: 60px;
  background-color: #F7F7F7;
}
.nav-button-lan{
  margin-top: 1.4vh;
  border-color: #E5B9B6;
}

.btn-default-border{
  border-color: #E5B9B6;
  background-color: #E5B9B6;
  color: #DD756E;
  font-size: 25px;
  margin-right: 2vw;
}

.dropdown-toggle{
  width: 40px;
  height: 40px;
}
.main-image{
  width: 140px;
  height: 60px;
  left: 27px;
  top: 25px;
}

 /* ----All Stores---- */
#all-stores{
  background-color: #F7F7F7;
  height: 100vh;
}

.row1{
  margin-top: 5vh;
}
.row2{
  margin-top: 5vh;
  margin-left: 5vw;
}

.store{
  color: #A85252;
  font-size: 55px;
  letter-spacing: 0.06em;
}

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: rgba(0, 144, 178, 0.37);
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}
.form-control{
  border-radius: 60px;
  border: 2px solid #AAD0D9
  padding-left: 4vw;
  background-color: #F7F7F7;
  color: rgba(0, 144, 178, 0.37);
}

.search{
    width: 45%;
    margin: 35px auto;
}

.pull-bear{
  width: 100%;
  height: 25%;

}
.zara{
  width: 100%;
  height: 25%;
}

.stra{
  width: 100%;
  height: 25%;
}

.card-deck{
  margin-left: 6vw;
}
.card{
  width: 270px;
  height: 250px;
  position: absolute;
  float: left;
  margin-top: 15vh;
}

#card-1{
  margin-left: 60px;


}

#card-2{
  margin-left: 541px;

}

#card-3{
  margin-left: 1022px;
}


 .btn-store{
  color: #E5B9B6;
  letter-spacing: 0.06em;
  background: rgba(168, 82, 82, 0.8);
  border: 3px solid #A85252;
  border-radius: 60px;
  width: 100%;
  padding-bottom: 2px;
  margin-top: 5vh;
  font-size: 2em;
}


/* ---------Zara-gender----- */
.women{
  margin-top: -3px;
  padding: 0;
}
#blck1{
  margin:0px;
  padding:0;
}
#blck2{
  margin:0px;
  padding:0;
}
#blck3{
  margin:0px;
  padding:0;
}

.wtext{
  position: absolute;
  width: 529px;
  height: 180px;
  left: 55px;
  top: 291px;
  font-family: PT Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 110px;
  line-height: 155px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #A85252;
  text-shadow: 4px 4px 4px #F7F7F7;
}

.ctext{
  position: absolute;
  width: 529px;
  height: 180px;
  left: 35px;
  top: 291px;
  font-family: PT Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 110px;
  line-height: 155px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #F7F7F7;
  text-shadow: 4px 4px 4px #000000;
}

.mtext{
  position: absolute;
  width: 529px;
  height: 180px;
  left: 155px;
  top: 291px;
  font-family: PT Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 110px;
  line-height: 155px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
  text-shadow: 4px 4px 4px #A85252;
}


.zara2{
  position: absolute;
  width: 119px;
  height: 50px;
  right: 55px;
  top: 37px;
  background: url(zara2.png);
}

/* --------Zara-women_------ */
.zara-women{
position: absolute;
left: 37px;
width: 200px;
height: 74px;
top: 51px;
}

.line{
position: absolute;
width: 110px;
height: 0px;
left: 29px;
top: 264px;
border: 2px solid #DD756E;
}

#all{
position: absolute;
width: 202px;
height: 47px;
left: 37px;
top: 217px;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 45px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #0090B2;
}

#dresses{
  position: absolute;
  width: 316px;
  height: 52px;
  left: 29px;
  top: 266px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #0090B2;
}

#t-shirts{
  position: absolute;
  width: 316px;
  height: 53px;
  left: 29px;
  top: 306px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #0090B2;
}

#trousers{
  position: absolute;
  width: 316px;
  height: 52px;
  left: 29px;
  top: 347px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #0090B2;
}

.dress{
  margin-top: 51px;
}

.t-shirt{
  margin-top: 151px;
}

.trousers{
  margin-top: 251px;
}

#dress{
  margin: 0px;
}

#t-shirt{
  margin: 0px;
  left: 50px;
}

#trouser{
  margin: 0px;
  left: 100px;
}

#all1{
position: absolute;
width: 202px;
height: 47px;
left: 37px;
top: 217px;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 45px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #A85252;
}

#dresses1{
  position: absolute;
  width: 316px;
  height: 52px;
  left: 29px;
  top: 266px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #A85252;
}

#t-shirts1{
  position: absolute;
  width: 316px;
  height: 53px;
  left: 29px;
  top: 306px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #A85252;
}

#trousers1{
  position: absolute;
  width: 316px;
  height: 52px;
  left: 29px;
  top: 347px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #A85252;
}

h5{
  font-weight: bold;
}
.dress1{
width: 100%;
}

#card1{
  margin: 0px;
  width: 26%;
}

#card2{
  margin: 0px;
  left: 1px;
  width: 26%;
}

#card3{
  margin: 0px;
  left: 2px;
  width: 26%;
}


#carousel{
  width: 50%;
  top: 15vh;
  left: 10vw;
}
.carousel-control.right   {
    background: none;
}

.carousel-control.left   {
    background: none;
}

#text_dress{
  position: absolute;
  margin-top: 15vh;
  font-family: PT Sans;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.06em;
}

#title{
  font-weight: bold;
  font-size: 25px;
}


.btn-check-size{
  width: 10vw;
  height: 5vh;
  background: rgba(0, 144, 178, 0.32);
  border-radius: 6px;
  border-color: rgba(0, 144, 178, 0.32);
}

.btn-check-availability{
  width: 10vw;
  height: 5vh;
  color: BLACK;
  background: #f7f7f7;
  border: 3px solid #0090B2;
  border-radius: 6px;
  }

  .btn-add-to{
    margin-top: 2vh;
    color: BLACK;
    font-size: 25px;
    width: 25vw;
    height: 6vh;
    text-align: center;
    letter-spacing: 0.06em;

    background: #E5B9B6;
    border-radius: 60px;
  }
.btn-add-to:hover{
  color: #A85252;
  border: 2px;
  border-radius: 60px;
  border-color: #A85252;
  background-color: #E5B9B6;
}

.btn-back{
    margin-top: 60vh;
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  background: url(right-arrow.png);
}
.btn-back-b{
    margin-top: 60vh;
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  background: url(right-arrow.png);
}
.btn-back-dress{
    margin-left: 2vw;
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  background: url(right-arrow.png);
}

.btn-back-all{
    margin-left: 2vw;
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  background: url(right-arrow.png);
}

.btn-back-assembly{
    margin-top: 80vh;
    margin-left: 1vw;
    width: 4vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  background: url(right-arrow.png);
}

.table-hover{
  margin-top: 20vh;
  font-size: 1.2em;
  font-family: PT Sans;
  margin-left: 5vw;
}

.btn-send{
  margin-top: 2vh;
  color: #F7F7F7;
  font-size: 2em;
  background: rgba(0, 144, 178, 0.38);
  border: 2px solid #0090B2;
  box-sizing: border-box;
  border-radius: 60px;
}

.btn-send:hover{
  border: 2px solid #0090B2;
  box-sizing: border-box;
  border-radius: 60px;
}

.btn-delete{
  color: #F7F7F7;
  background: #A85252;
  border-radius: 6px;
}
.btn-delete:hover{
  border: 1px solid #A85252;
}
