{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
</head>


<section id="zara-gender">
  <div class="conteiner-fluid">
    <div class="row">
        <div id="blck1" class="col-md-4">
          <a href="zara_women"><img src="{% static 'img/women.png' %}?version=1" alt="" class="img-responsive women"></a>
          <a href="zara_women"><p class="wtext">Women</p></a>
        </div>
        <div id="blck2" class="col-md-4">
          <a href="#"><img src="{% static 'img/children.png' %}?version=1" alt="" class="img-responsive women"></a>
          <a href="#"><p class="ctext">Children</p></a>
        </div>
        <div id="blck3" class="col-md-4">
          <a href="#"><img src="{% static 'img/men.png' %}?version=1" alt="" class="img-responsive women"></a>
          <a href="#"><p class="mtext">Men</p></a>
          <a href="#"><img src="{% static 'img/zara2.png' %}?version=1" alt="" class="img-responsive zara2"></a>
        </div>
    </div>
  </div>
</section>





{% endblock %}
